@model string;

<div style="position: fixed; right:60px; bottom:100px" class="text-white">
    <a asp-controller="@Model" asp-action="Create" class="btn btn-outline-success"><i class="bi bi-plus-circle">Додади</i></a>
</div>