@{
    ViewData["Title"] = "Почетна страна";
}

<div class="text-center">
    <h1 class="display-4">Добредојдовте</h1>
    <p>Најдобрата веб страна за продажба, изнајмување и замена на стрипови во Македонија</p>
</div>
