<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Нарачката е успешно завршена</h2>
        <p>
            Можете да ги проверите сите ваши нарачки во делот "Нарачки" на вашиот профил
        </p>
        <hr />
        <p>Ви благодариме!</p>
    </div>
</div>